a {
  padding-left: 10px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: gray;
  &:hover {
    color: blue;
  }
}

.App {
  text-align: center;
  .input-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .date-button {
      color: #61dafb;
      width: 15%;
      margin-left: 10px;
    }
    button {
      margin-left: 10px;
    }
  }
}

.todo-tabs-wrapper {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  .todo-tabs-container {
    display: flex;
    justify-content: center;
    a {
      padding-left: 10px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.todo-container {
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}
.todo-table {
  width: 70%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
// .dialog-box {
//   width: 100%;
// }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
